<!-- main content card --> 
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Eat, Weigh, Fit</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.3/dist/css/uikit.min.css" />
    </head>
<body>
<div>
    <br>
    <br>
    <div class="uk-card uk-card-secondary uk-card-body custom-card-class">
        <h3 class="uk-card-title">Welcome to <em>Eat, Weigh, Fit</em>!</h3>
        <p class="p">We're glad you're here! With Eat, Weigh, Fit, you can log, track and set targets for your eating, weight loss and physical fitness. <br><br>Sign up now to get started! 
            <br>
            <br>
            Already a user? Log in below!
        </p>

        <input type="email">
        <input type="password">

        
<!-- login/signup buttons --> 
<button class="uk-button uk-button-text"> ⇨ Login</button>
<button class="uk-button uk-button-text"> ⇨ Sign Up</button>

<button class="uk-button uk-button-text"> ⇨ Eat</button>
<button class="uk-button uk-button-text"> ⇨ Weigh</button>
<button class="uk-button uk-button-text"> ⇨ Fit</button>
    </div>
</div>
</div>
</body>

</html>