<!-- {{{eat}}} -->

<!-- this is the Eat page -->
<div>
    <br>
    <br>
    
    <div class="uk-card uk-card-secondary uk-card-body custom-card-class">
        <h1>Eat</h1>
        <h3 class="uk-card-title">Log your ingredients!</h3>
        <p class="p"> 
            Log each ingredient in your meal here!
        </p>
<input type="text">

<!-- table will populate here with the food information you've added -->
      <h3>Food: 
       {{{Eat.food_name}}}
       </h3>

       <h3>Caloires:
       {{{Eat.calories}}}
       </h3>

<!-- login/signup buttons --> 
<button class="uk-button uk-button-text"> ⇨ Log your food</button>

    </div>
</div>
</div>
