<!-- {{{fit}}} -->
<!-- this is the Fit page -->
<div>
    <br>
    <br>
    
    <div class="uk-card uk-card-secondary uk-card-body custom-card-class">
        <h1>Fit</h1>
        <h3 class="uk-card-title">Track your Fitness!</h3>
        <p class="p"> 
            Track your fitness:
        </p>
        
        <input type="datalist" list="fitness" id="fitness-option" name="fitness-option" placeholder="Track Fitness Here"/>
        
        <datalist id="fitness">
            <option value="Upper Lip Lifts, 15 pounds x 10 smiles (1 rep = 1 smile)">
            <option value="Bees Knees (1 knee press, 427 lbs x 2 reps)">
            <option value="Double Butterfly Curl (take two butterflies on one finger and curl upwards x 2 reps)">
            <option value="Strawberry (dance like a strawberry x 1 rep - 1 rep = 7 minutes)">
            <option value="Vanilla (spend 1 hour coding vanilla JavaScript)">
                <option value="Churn Around (Every now and then I get a little bit lonely - butter churn)">
        </datalist>
    

<!-- table will populate here with the food information you've added -->
        
<!-- login/signup buttons --> 
<button class="uk-button uk-button-text" target="#"> ⇨ Track Fitness</button>

    </div>
</div>
</div>
<script src="/js/fit.js"></script>