<!-- {{{login}}} -->

<!-- this is the login-->
<div>
    <br>
    <br>
    
    <div class="uk-card uk-card-secondary uk-card-body custom-card-class">
        <h1>Login</h1>
        <h3 class="uk-card-title">Welcome to <em>Eat, Weigh, Fit</em>!</h3>
        <p class="p"> 
            Already a user? Log in below!
        </p>
    <input type="email" id="email-login">
    <input type="password" id="password-login">
        
<!-- login/signup buttons --> 
<button class="uk-button uk-button-text login-form"><a href="/login"> ⇨ Login</a></button>

<button class="uk-button uk-button-text"><a href="/signup"> ⇨ Sign Up</a></button>
    </div>
</div>
</div>

<script src="./js/login.js"></script>
