<!-- {{{userProfile}}} -->
<!-- this is the User Profile page -->

<div>
    <br>
    <br>
    
    <div class="uk-card uk-card-secondary uk-card-body custom-card-class">
        <h1><!-- Insert User's Name Here--> _____'s Profile</h1>
        <h3 class="h4"> 
            <em>Your Stats</em>
        </h3>

        <h3 class="h4"> 
            Height: 
        </h3>

        <h3 class="h4"> 
            Weight
        </h3>

        <h3 class="h4"> 
            Target Weight:
        </h3>

        <h3 class="h4"> 
            Body Type: 
        </h3>
        
        <h3 class="h4"> 
            Goal Body Type:
        </h3>

<!-- login/signup buttons --> 
<button class="uk-button uk-button-text"> ⇨ Eat</button>
<button class="uk-button uk-button-text"> ⇨ Weigh</button>
<button class="uk-button uk-button-text"> ⇨ Fit</button>
    </div>
</div>
</div>